<% content_for :javascript do %>
  <script type="module">
  import "autocomplete";
  </script>
  <%end%>
  
<%= form_with(model: landmark, html: { class: "container mt-4" }) do |form| %>
  <% if landmark.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>
      <ul>
        <% landmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <!-- Replace the default text field with the autocomplete input field -->
      <input id="autocomplete" placeholder="Enter a place" type="text" class="form-control" name="address" value="<%= landmark.address %>"/>
    </div>

    <div id="map"></div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="field">
  <%= form.label :images, "Upload Images" %>
  <%= form.file_field :images, multiple: true %>
</div>

  <div class="mb-3">
    <%= form.label :region_id, class: "form-label" %>
    <%= form.collection_select :region_id, Region.all, :id, :name, { prompt: "Select a category" }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.hidden_field :latitude, id: "lat", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.hidden_field :longitude, id: "lng", class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Save Landmark", class: "btn btn-primary" %>
  </div>
<% end %>
