<div id="<%= dom_id landmark %>">
  <p>
    <strong>Name:</strong>
    <%= landmark.name %>
  </p>
  <p>
  <strong>Address:</strong>
  <%= landmark.address %>
</p>

  <p>
    <strong>Description:</strong>
    <%= landmark.description %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= landmark.region.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= landmark.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= landmark.longitude %>
  </p>

</div>
