<% content_for :title, "Landmarks" %>
<div class="container">
  <div class="bg-light py-5 mb-4">
    <div class="container-fluid">
      <h1 class="display-4">Landmarks</h1>
      <p>Click on an landmark to read more of its history or create a new one.</p>
      <hr class="my-4">
      <p>There are <%= Landmark.count %> landmarks!</p>
      <p>
        <%= link_to "Create a New Landmark", new_landmark_path, class: "btn btn-dark btn-lg" %>
      </p>
    </div>
  </div>
  <!-- Display landmark in a grid layout -->
  <div class="row">
    <% @landmarks.each do |landmark| %>
        <div class="col-md-4 mb-4">
          <!-- Cards with a equal height -->
          <div class="card d-flex flex-column h-100 landmark-card">
            <div class="card-body d-flex flex-column">
            <p>
              <span class="btn btn-outline-<%= region_color(landmark.region) %> btn-sm disabled">
                <%= landmark.region.name %>

</p>
              <h5 class="card-title">
                <%= content_tag :span, landmark.name, class: "text-decoration-none" %>    
              </h5>
                <p class="card-text text-muted custom-lead">
                  <span>
                    <%= landmark.user.username %> |<i class="fa-regular fa-calendar ms-2"></i> <%= landmark.created_at.in_time_zone('Central Time (US & Canada)').strftime("%B %d, %Y") %> 
                  </span>
                </p>
              <!-- Read more button positioned at the bottom -->
              <div class="mt-auto">
                <%= link_to "Read More", landmark_path(landmark), class: "btn btn-light btn-sm" %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @landmarks.previous_page.nil? %>">
      <%= link_to 'Previous', landmarks_path(page: @landmarks.previous_page), class: 'page-link' %>
    </li>

    <% (1..@landmarks.total_pages).each do |page| %>
      <li class="page-item <%= 'active' if @landmarks.current_page == page %>">
        <%= link_to page, landmarks_path(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <li class="page-item <%= 'disabled' if @landmarks.next_page.nil? %>">
      <%= link_to 'Next', landmarks_path(page: @landmarks.next_page), class: 'page-link' %>
    </li>
  </ul>
</nav>


</div>

