<% content_for :title, "Landmarks" %>
<div class="container">
  <div class="bg-light py-5 mb-4">
    <div class="container-fluid">
      <h1 class="display-4">Landmarks</h1>
      <p>Click on a landmark to read more of its history or create a new one.</p>
      <hr class="my-4">
      <p>There <%= Landmark.count == 1 ? 'is' : 'are' %> <%= pluralize(Landmark.count, 'landmark') %>!</p>
      <p>
        <%= link_to "Create a New Landmark", new_landmark_path, class: "btn btn-dark btn-lg" %>
      </p>
    </div>
  </div>
  <!-- Display landmarks in a grid layout -->
  <div class="row">
    <% @landmarks.each do |landmark| %>
      <%= render partial: "landmarks/landmark_card", locals: { landmark: landmark } %>
    <% end %>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item <%= 'disabled' if @landmarks.previous_page.nil? %>">
        <%= link_to 'Previous', landmarks_path(page: @landmarks.previous_page), class: 'page-link' %>
      </li>

      <% (1..@landmarks.total_pages).each do |page| %>
        <li class="page-item <%= 'active' if @landmarks.current_page == page %>">
          <%= link_to page, landmarks_path(page: page), class: 'page-link' %>
        </li>
      <% end %>

      <li class="page-item <%= 'disabled' if @landmarks.next_page.nil? %>">
        <%= link_to 'Next', landmarks_path(page: @landmarks.next_page), class: 'page-link' %>
      </li>
    </ul>
  </nav>
</div>
