<% content_for :javascript do %>
  <script type="module">
  import "landmark";
  </script>
  <%end%>
<h1><%= @landmark.name %><span class="btn btn-outline-primary btn-sm disabled mx-3 "><%= @landmark.region.name  %></span></h1>

<p><span class="text-muted small">
<%= @landmark.user.username %> |<i class="fa-regular fa-calendar ms-2"></i> <%= @landmark.created_at.strftime("%B %d, %Y") %> 
</span><p>

<p><%=@landmark.description %></p>
<div class="d-flex gap-2">
  <%= link_to "Edit", edit_landmark_path(@landmark), class: "btn btn-primary" %>
  <%= link_to "Back", landmarks_path, class: "btn btn-secondary" %>

  <%= button_to "Delete", @landmark, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this landmark?" } %>
</div>