<% content_for :title, "Regions" %>

<div class="bg-light py-5 mb-4">
  <div class="container-fluid">
    <h1 class="display-4">Minnesota Regions</h1>
<% if current_user&.admin? %>
    <p class="lead">Click on a region to see all related landmarks or create a new one.</p>
    <%else%>
  <p class="lead">Click on a region to see all related landmarks.</p>
<% end%>
    <hr class="my-4">
      <p class="lead">There are <%= Region.count %> Regions!</p>
          <% if current_user&.admin? %>
    <p>
      <%= link_to "Create a New Region", new_region_path, class: "btn btn-primary btn-lg" %>
    </p>
    <% end%>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
  <% @regions.each do |region| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= region.name %></h5>
          <p class="card-text">
            <%= region.description %>
          </p>
          <p class="mt-auto">
            <%= link_to "View Landmarks (#{region.landmarks.count})", region_path(region), class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>