<h1><%= @region.name %></h1>
<p><%= @region.description %></p>

<div>
  <%= link_to "Edit this Region", edit_region_path(@region) %> |
  <%= link_to "Back to Regions", regions_path %>

  <%= button_to "Delete", @landmark, method: :delete, class: "btn btn-danger mt-3 btn-sm", data: { confirm: "Are you sure you want to delete this landmark?" } %>
</div>
